BOT_TOKEN=8604843871:AAH3giUAhoyrSnLmNaviZgoU_wkAH5VP5aU
AD_VIDEO_PATH="C:\Users\nikit\Downloads\musordrop animation green-screen sound on.mp4"
FREEZE_DURATION=1.0
LOG_LEVEL=INFO
MIN_VIDEO_DURATION=5.0
FFMPEG_PATH=ffmpeg
FFPROBE_PATH=ffprobe
CHROMA_KEY_COLOR=0x00ff00
CHROMA_SIMILARITY=0.25
CHROMA_BLEND=0.1
AD_SCALE=1.0
AD_POSITION_X=center
AD_POSITION_Y=center

